<div class="flex flex-col items-center mb-4">
  <div>
    <h2 class="text-2xl text-gray-700 font-medium m-2 text-nowrap">Featured Workshops</h2>
    <hr class="h-1 bg-primary border-0 rounded-sm my-2 mx-4">
  </div>
</div>

<div class="px-6 bg-gray-300 py-8 rounded-lg">
  <div data-controller="carousel" class="swiper">
    <!-- Slides -->
    <div class="swiper-wrapper">
      <% @featured_workshops.each do |workshop| %>
        <div class="swiper-slide rounded-xl overflow-hidden bg-white shadow-md" style="height: 320px;">
          <%= link_to workshop_path(workshop)  do %>
            <div class="h-24 w-full overflow-hidden">
              <img class="w-full h-full object-cover" src="<%= workshop.main_image_url %>" alt="workshop">
            </div>

            <!-- Content section -->
            <div class="p-4">
              <div class="text-xs text-gray-500 mb-2">
                <%= workshop.windows_type.label if workshop.windows_type %> |
                <span class="pull-right"><%= workshop.date %></span>
              </div>

              <div class="flex flex-col gap-2">
                <span class="text-lg font-semibold text-gray-800"><%= workshop.title %></span>
                <p class="text-gray-600 text-sm">
                  <%= workshop.title.length > 25 ? workshop.formatted_objective.truncate(75) : workshop.formatted_objective %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Navigation buttons -->

    <button
      class="swiper-button-prev-custom absolute bottom-4 sm:top-1/2  w-12 h-12 text-primary bg-gray-100 text-2xl font-bold
        rounded-full flex items-center justify-center shadow-lg z-10"
    >
      &lt;
    </button>

    <button
      class="swiper-button-next-custom absolute bottom-4 sm:top-1/2 right-2 w-12 h-12 text-primary bg-gray-100 text-2xl
        font-bold rounded-full flex items-center justify-center shadow-lg z-10"
    >
      &gt;
    </button>
  </div>
</div>
  <div class="text-right text-end mt-4">
    <%= link_to "View all", workshops_path, class: "btn btn-secondary-outline" %>
  </div>
